
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Mono One", monospace;
    font-weight: 200;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #222;
}

        .lang-switch {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-right: 15px;
            font-family: sans-serif;
            font-weight: bold;
        }
        .lang-link {
            text-decoration: none;
            color: var(--text);
            opacity: 0.4;
            font-size: 14px;
            transition: 0.3s;
        }
        .lang-link.active {
            opacity: 1;
            border-bottom: 2px solid currentColor;
        }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    border-bottom: 1px solid #a3a3a3;
    position: sticky;
    background: white;
    z-index: 100;
    background-color: var(--header-bg) ; 
    border-bottom: 1px solid var(--border); 
    padding: 20px 0;
    top: 0;
    transition: 0.4s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

body {
    --bg: #ffffff;
    --text: #000000;
    --card-bg: rgba(255, 255, 255, 0.1);
    background-color: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

body.dark-theme {
    --header-bg: #121212;
    --border-color: #333333;
    --bg: #121212;
    --text: #ffffff;
    --card-bg: rgba(255, 255, 255, 0.05);
    --header-bg: rgba(18, 18, 18, 0.85); 
    --border: rgba(255, 255, 255, 0.1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-tools {
    display: flex;
    align-items: center;
    gap: 15px;
}

.glass-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--card-bg);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: var(--text);
}

.theme-switch {
    width: 50px;
    height: 26px;
    background: #e0e0e0;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.switch-circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.3s;
}

.dark-theme .theme-switch {
    background: #333;
}

.dark-theme .switch-circle {
    left: 26px;
    background: #656563;
}

.product-grid {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 8px;
}

.user-tools .icon {
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 60px 0;
    background: #f5f5f5;
    margin: 20px 0;
    font-size: 160%;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

body.dark-theme .hero {
    background: #1e1e1e;
    color: #ffffff;     
}

body.dark-theme .btn {
    background:#656365;
    color: #292929;
}

.btn {
    font-size: 85%;
    text-decoration: none;
    padding: 8px 13px;
    background: #343333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.5s ease; 
}
.btn:hover{
    background-color: #686868;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 50px;
}

.product-card {
    cursor: pointer;
    transition: 0.3s;
}

.product-image img {
    width: 75%;
    height: auto ;
    display: block;
}

.variation{
    width: 100%;
    height:  auto; 
}

.product-info {
    padding: 10px 0;
}

.brand {
    font-weight: bold;
    font-size: 14px;
}

.name {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

.price {
    font-weight: bold;
}

.porduct-buton{
    transition: background-color 0.5s ease; 
    font-size: 90%;
    text-decoration: none;
    padding: 8px 20px;
    background: #343333;
    color: #fff;
}

.porduct-buton:hover{
    background-color: #686868;
}

.footer {
    color: #666;
    border-top: 1px solid #e5e5e5;
    padding: 40px 0;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 2000px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    .logo {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .nav {
        display: none; 
    }
    
    .header-top {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 24px;
    }

    .product-grid {
        grid-template-columns: 1fr;  
    }

    .user-tools {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}



